                                            @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
                                            @import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Inter:wght@300&display=swap');
                                            @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,600&family=Grape+Nuts&family=Inter:wght@300&display=swap');
                                            @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,600;1,700;1,900&family=Grape+Nuts&family=Inter:wght@300&display=swap');
                                            * {
                                                margin: 0;
                                                padding: 0;
                                            }
                                            
                                            body {
                                                background-color: #95fcfd;
                                                font-family: 'Inter', sans-serif;
                                                box-sizing: border-box;
                                                /* background-color: rgb(48, 48, 116); */
                                            }
                                            /* ****************navbar************** */
                                            
                                            .main-container {
                                                height: 500vh;
                                                width: 100vw;
                                            }
                                            
                                            #aside {
                                                background-color: #d87138;
                                                height: 278vh !important;
                                                overflow: hidden;
                                                position: sticky;
                                                bottom: 0;
                                            }
                                            
                                            .section1 {
                                                width: 100%;
                                                height: 15vh;
                                                color: white;
                                                /* border: 2px solid cyan; */
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;
                                                /* background-color: #ffd6ff; */
                                                background-color: #05284e;
                                                /* border-top-left-radius: 15%; */
                                            }
                                            
                                            #left-div {
                                                margin-left: 30px;
                                                width: 27%;
                                                display: flex;
                                                height: 80%;
                                                /* border: 2px solid yellow; */
                                                justify-content: space-between;
                                                align-items: center;
                                                position: relative;
                                            }
                                            
                                            #right-div {
                                                /* margin-top: 30px; */
                                                /* border: 2px solid orange; */
                                                display: flex;
                                                justify-content: space-evenly;
                                                width: 40%;
                                                height: 80%;
                                                align-items: center;
                                            }
                                            
                                            .nav-text {
                                                justify-self: end;
                                                box-shadow: 0 4px 8px 0 rgba(81, 78, 78, 0.2), 0 6px 20px 0 rgba(73, 72, 72, 0.19);
                                            }
                                            
                                            .nav-text :hover {
                                                color: #ff0000;
                                            }
                                            
                                            .logo-div i {
                                                font-size: 4em;
                                                background-color: transparent;
                                                border-radius: 50%;
                                                /* padding-top: 4px; */
                                                box-shadow: 0 4px 8px 0 rgba(242, 245, 246, 0.2), 0 6px 20px 0 rgba(224, 208, 208, 0.19);
                                                animation-name: logo-animation;
                                                animation: logo-animation 8s linear 6s infinite;
                                            }
                                            
                                            @keyframes logo-animation {
                                                0% {
                                                    color: rgb(255, 55, 0);
                                                    /* margin-left: 0px; */
                                                    top: 0px;
                                                }
                                                25% {
                                                    color: yellow;
                                                    /* top: 25px; */
                                                }
                                                50% {
                                                    color: rgb(53, 113, 253);
                                                    margin-left: 0px;
                                                }
                                                75% {
                                                    color: rgb(195, 237, 77);
                                                    margin-left: 30px;
                                                    transform: rotate(360deg);
                                                }
                                                100% {
                                                    color: rgb(255, 133, 237);
                                                    margin-left: 0px;
                                                    /* top: 0px; */
                                                }
                                            }
                                            
                                            .logo-text {
                                                position: absolute;
                                                top: 0rem;
                                                left: 5.6rem;
                                                font-family: 'Grape Nuts', cursive;
                                                font-size: 2rem;
                                                font-weight: bolder;
                                                text-shadow: 3px 3px rgb(114, 115, 119);
                                            }
                                            
                                            #right-div input {
                                                border: none;
                                                background-color: #7b76b588;
                                                padding: 4px;
                                                width: 24rem;
                                                border-radius: 20px;
                                                height: 32px;
                                                position: relative;
                                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                            }
                                            
                                            #right-div input::placeholder {
                                                padding-left: 50px;
                                                color: white;
                                                padding: 5px;
                                                opacity: 0.7;
                                            }
                                            
                                            .img1 {
                                                height: 5rem;
                                                width: 5rem;
                                                border-radius: 50%;
                                                box-shadow: 0 4px 8px 0 rgba(111, 109, 109, 0.2), 0 6px 20px 0 rgba(97, 94, 94, 0.19);
                                            }
                                            
                                            .fa-magnifying-glass {
                                                color: whitesmoke;
                                                font-weight: 0.2px;
                                                font-size: 0.8rem;
                                                opacity: 0.8;
                                                position: absolute;
                                                right: 14rem;
                                                top: 2.9rem;
                                            }
                                            
                                            .fa-bell {
                                                font-size: 1.5em;
                                            }
                                            /* ************************************Section 2********************************* */
                                            
                                            .content-container {
                                                margin-left: 3%;
                                                margin-right: 3%;
                                                /* border: 2px solid olivedrab; */
                                                width: 94%;
                                                height: auto;
                                                display: flex;
                                                background-color: #95fcfd;
                                            }
                                            
                                            #left-content {
                                                height: auto;
                                                width: 75%;
                                            }
                                            
                                            #aside {
                                                height: 160vh;
                                                width: 25%;
                                                border: 2px solid white;
                                                /* margin-top: 1.5rem; */
                                            }
                                            
                                            .video-container {
                                                margin-bottom: 1em;
                                                position: relative;
                                                width: 100%;
                                                height: auto;
                                                box-shadow: 0 4px 8px 0 rgba(111, 109, 109, 0.2), 0 6px 20px 0 rgba(97, 94, 94, 0.19);
                                            }
                                            
                                            .video-container video {
                                                width: 100%;
                                                background-color: #95fcfd;
                                                /* border-radius: 2%; */
                                                /* height: 25rem; */
                                            }
                                            
                                            .video-description {
                                                height: auto;
                                                width: auto;
                                                border: none;
                                                color: white;
                                                text-align: center;
                                                cursor: pointer;
                                                /* border-radius: 2em; */
                                                position: absolute;
                                                top: 22em;
                                                left: 22em;
                                            }
                                            
                                            .video-description span {
                                                font-size: 72px;
                                                background: -webkit-linear-gradient(#eee, rgba(93, 130, 141, 0.771));
                                                -webkit-background-clip: text;
                                                -webkit-text-fill-color: transparent;
                                                /* font-style: italic; */
                                                font-family: 'Fira Sans', sans-serif;
                                            }
                                            
                                            .video-description p {
                                                font-size: 1em;
                                                font-family: 'Inter', sans-serif;
                                                font-weight: 300;
                                            }
                                            
                                            .text-animation {
                                                font-weight: bolder;
                                                font-size: 2em;
                                                animation-name: example;
                                                animation: example 8s linear 2s infinite alternate;
                                                width: 30%;
                                                height: 4rem;
                                                /* border: 2px solid yellow; */
                                                align-items: center;
                                                text-shadow: 2px 2px #ff0000;
                                                padding-top: 0.2rem;
                                            }
                                            
                                            @keyframes example {
                                                0% {
                                                    color: red;
                                                    margin-left: 0px;
                                                    top: 0px;
                                                }
                                                25% {
                                                    color: yellow;
                                                    margin-left: 150px;
                                                }
                                                50% {
                                                    color: rgb(31, 89, 224);
                                                    margin-left: 0px;
                                                    /* top: 0px; */
                                                }
                                                75% {
                                                    color: rgb(18, 169, 169);
                                                    margin-left: 150px;
                                                    /* top: 1px; */
                                                }
                                                100% {
                                                    color: rgb(228, 43, 200);
                                                    margin-left: 0px;
                                                    /* top: 0px; */
                                                }
                                            }
                                            
                                            .single-img-link:hover {
                                                background-color: #454576a2;
                                                color: white;
                                                transition: all 0.3s ease-in-out;
                                            }
                                            
                                            .single-img>h2 {
                                                font-family: 'Courier New', Courier, monospace;
                                            }
                                            
                                            .img-container {
                                                display: flex;
                                                height: 15.2rem;
                                                width: 100%;
                                                /* border: 2px solid orange; */
                                                justify-content: space-between;
                                            }
                                            
                                            .poster img {
                                                border-radius: 2%;
                                                height: 15.2rem;
                                                width: 21rem;
                                                box-shadow: 0 4px 8px 0 rgba(199, 175, 175, 0.2), 0 6px 20px 0 rgba(193, 164, 164, 0.19);
                                            }
                                            
                                            .poster :hover {
                                                transform: scale(1.5);
                                                transition: all .5s;
                                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                                            }
                                            
                                            @media screen and (max-width: 600px) {
                                                #aside {
                                                    display: none;
                                                }
                                                .video-description {
                                                    display: none;
                                                }
                                                .video-container {
                                                    width: 100%;
                                                }
                                                .video-container video {
                                                    width: 100%;
                                                }
                                                .popular-artist-container {
                                                    width: 100%;
                                                    flex-wrap: wrap;
                                                }
                                                .yellow-container {
                                                    display: none;
                                                }
                                                .hindi-container {
                                                    width: 100%;
                                                    flex-wrap: wrap;
                                                }
                                            }
                                            
                                            @media screen and (max-width: 992px) {
                                                #aside {
                                                    display: none;
                                                }
                                                .video-description {
                                                    display: none;
                                                }
                                                .video-container {
                                                    width: 100%;
                                                }
                                                .video-container {
                                                    width: 100%;
                                                }
                                                .video-container video {
                                                    width: 100%;
                                                }
                                                .popular-artist-container {
                                                    width: 100%;
                                                    flex-wrap: wrap;
                                                }
                                                .section-4-container {
                                                    width: 100%;
                                                    flex-wrap: wrap;
                                                }
                                                .yellow-container {
                                                    width: 100%;
                                                    flex-wrap: wrap;
                                                }
                                            }
                                            /* *********************************section3************************************* */
                                            
                                            #section3 {
                                                min-height: 11rem;
                                                width: 100%;
                                                /* border: 2px solid cyan; */
                                                margin-top: 1rem;
                                            }
                                            
                                            .section3-heading {
                                                margin-top: 1rem;
                                                font-weight: bold;
                                            }
                                            
                                            .popular-artist-container {
                                                display: flex;
                                                justify-content: space-between;
                                                align-items: center;
                                            }
                                            
                                            .artist img {
                                                height: 9em;
                                                width: 9em;
                                                border-radius: 50%;
                                            }
                                            
                                            .artist a {
                                                text-decoration: none;
                                                color: black;
                                                font-size: 0.8em;
                                                font-weight: bold;
                                                /* text-align: center; */
                                                margin-left: 3em;
                                            }
                                            /* *************************************Section4*************************** */
                                            
                                            #section4 {
                                                min-height: 9rem;
                                                width: 100%;
                                                /* border: 2px solid cyan; */
                                                margin-top: 2rem;
                                                background-color: #7b76b5;
                                                margin-bottom: 1.5em;
                                            }
                                            
                                            .section-4-container {
                                                display: flex;
                                                justify-content: space-between;
                                                align-items: center;
                                                padding-top: 1.5em;
                                                position: relative;
                                                padding: 1.5em 1em;
                                            }
                                            
                                            .yellow-container {
                                                height: auto;
                                                width: 9em;
                                                /* border: 2px solid rgb(255, 0, 179); */
                                                /* position: absolute; */
                                                /* text-align: center; */
                                            }
                                            
                                            .yellow3 {
                                                position: absolute;
                                                background-color: rgb(255, 197, 125);
                                                height: 5em;
                                                width: 8.5em;
                                                top: 2.4em;
                                            }
                                            
                                            .yellow2 {
                                                height: 6em;
                                                width: 7.2em;
                                                background-color: rgb(254, 195, 123);
                                                z-index: 1;
                                                border: 1px solid black;
                                                position: absolute;
                                                top: 30px;
                                                left: 25px;
                                            }
                                            
                                            .radio img {
                                                height: 7em;
                                                width: 5.9em;
                                                position: absolute;
                                                z-index: 1;
                                                left: 36px;
                                                top: 23px;
                                            }
                                            
                                            .div1 img {
                                                height: 6.5em;
                                                width: 6.5em;
                                                border-radius: 50%;
                                            }
                                            
                                            .div1 {
                                                line-height: 100px;
                                                text-align: center;
                                            }
                                            
                                            .div1-text {
                                                height: 6.5em;
                                                width: 6.5em;
                                                position: absolute;
                                                background-color: rgba(211, 211, 211, 0.205);
                                                border-radius: 50%;
                                                top: 1.5em;
                                            }
                                            
                                            .div1-text p {
                                                height: 1em;
                                                /* width: 1.5em; */
                                                /* text-align: center; */
                                                margin: 0px auto;
                                                /* background: #e2e6f0; */
                                                vertical-align: middle;
                                                width: auto;
                                                display: inline-block;
                                                line-height: normal;
                                                font-weight: 14em;
                                            }
                                            /*************************** latest hindi ******************************** */
                                            
                                            .section5 {
                                                display: flex;
                                                justify-content: space-between;
                                                margin-bottom: 1.5em;
                                            }
                                            
                                            .hindi-container {
                                                margin-top: 1.5em;
                                                min-height: 16em;
                                                width: 13em;
                                                border: 2px solid transparent;
                                                align-items: center;
                                                text-align: center;
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: space-around;
                                                border-radius: 5%;
                                                background-color: rgba(51, 229, 242, 0.895);
                                            }
                                            
                                            .hindi img {
                                                height: 11em;
                                                width: 88%;
                                                margin: auto;
                                                border-radius: 4%;
                                                padding-bottom: 4px;
                                            }
                                            
                                            .hindi h5 {
                                                font-size: 1em;
                                                text-transform: uppercase;
                                            }
                                            
                                            .hindi p {
                                                font-size: 1rem;
                                            }
                                            /* ************************aside******************************* */
                                            
                                            .player-container {
                                                min-height: 68vh;
                                                width: 80%;
                                                border: 2px solid rgba(230, 232, 233, 0.933);
                                                border-radius: 10%;
                                                margin: 1.5em auto;
                                                overflow: hidden;
                                                padding-bottom: 12px;
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                                justify-content: space-around;
                                                background-color: rgba(51, 229, 242, 0.895);
                                                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                                                ;
                                            }
                                            
                                            .one img {
                                                height: 13em;
                                                width: 13em;
                                                border-radius: 4%;
                                                margin: auto;
                                                padding-top: 4px;
                                            }
                                            
                                            .zero {
                                                text-align: center;
                                                color: white;
                                                font-weight: 10px;
                                                font-size: 1em;
                                                font-style: oblique;
                                                font-family: monospace;
                                                /* padding-bottom: 6px; */
                                            }
                                            
                                            .player-container i {
                                                color: rgba(255, 255, 255, 0.885);
                                                font-size: 1.3em;
                                            }
                                            
                                            .five .fa-circle-pause {
                                                font-size: 1.7em;
                                            }
                                            
                                            .five {
                                                display: flex;
                                                justify-content: space-around;
                                            }
                                            
                                            .five div {
                                                padding-right: 1em;
                                            }
                                            
                                            .four input {
                                                width: 12em;
                                            }
                                            
                                            .three {
                                                display: flex;
                                                justify-content: around;
                                            }
                                            
                                            .three div {
                                                padding-right: 1em;
                                            }
                                            /* ******************************Queue Section******************************** */
                                            
                                            .queue {
                                                margin-left: 14px;
                                            }
                                            
                                            .p2-left-heading {
                                                padding-left: 1em;
                                                padding-right: 1em;
                                            }
                                            
                                            .p2-left-heading img {
                                                height: 25px;
                                                width: 25px;
                                                border: 25%;
                                            }
                                            
                                            .p2-left-heading {
                                                display: flex;
                                                justify-content: space-between;
                                                padding-top: 1em;
                                                color: white;
                                                margin-bottom: 1em;
                                                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                            }
                                            
                                            .similar-artist-container {
                                                color: white;
                                                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                                position: relative;
                                                height: 5em;
                                                overflow: hidden;
                                                margin-top: 0.2em;
                                                padding-top: 0.5em;
                                                cursor: pointer;
                                                transition: all 0.2s ease
                                            }
                                            
                                            .queue .similar-artist-container :hover {
                                                box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
                                            }
                                            
                                            .similar-artist-container h3 {
                                                position: absolute;
                                                top: 0.5em;
                                                left: 4em;
                                            }
                                            
                                            .similar-artist-container img {
                                                position: absolute;
                                                width: 3.9em;
                                                height: 3.9em;
                                                box-shadow: 0px 0px 12px 3px rgba(249, 245, 245, 0.2);
                                            }
                                            
                                            .similar-artist-p1 {
                                                position: absolute;
                                                top: 2.3em;
                                                left: 4em;
                                            }
                                            
                                            .similar-artist-container .fa-ellipsis {
                                                position: absolute;
                                                top: 0;
                                                right: 0;
                                                font-size: 16px;
                                            }
                                            
                                            .similar-artist-p2 {
                                                position: absolute;
                                                top: 1.5em;
                                                right: 0;
                                                font-size: 12px;
                                            }